# ==============================
# База данных
# ==============================
POSTGRES_USER=clinic_user
POSTGRES_PASSWORD=clinic_pass
POSTGRES_DB=clinic_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ==============================
# Backend
# ==============================
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://clinic_user:clinic_pass@postgres:5432/clinic_db
JWT_SECRET=change_me_in_production_please

# ==============================
# Frontend (Vite env vars)
# ==============================
VITE_API_URL=http://localhost:3000

# ==============================
# pgAdmin (UI для БД)
# ==============================
PGADMIN_EMAIL=admin@clinic.local
PGADMIN_PASSWORD=admin123
